nav ul {
    position: absolute;
    right: 0;
}

nav ul li {
    margin-right: 25px;
}

nav a {
    color: white !important;
}


.text-white {
    margin-bottom: 20px;
    color: black !important;
}

.login .col-sm-6 {
    padding-top: 20px;
    padding: 30px 40px 20px 40px;
    background: #343a4069;
    border-radius: 20px
}

.login form .mb-3 {
    margin-top: 30px;
}

.login {
    background: url(../assets/bg.avif) no-repeat;
    background-position: center;
    background-size: cover;
}

.login label {
    color: white;
    margin-bottom: 20px;
    font-size: larger;
    font-weight: bolder;
}

.login h3 {
    color: white;
    font-weight: bold;
}

.SignUp {
    background: url(../assets/bg.avif) no-repeat;
    background-position: center;
    background-size: cover;
}

.SignUp .col-sm-6 {
    background: #343a4069 !important;
}

.SignUp label {
    color: white;
    margin-bottom: 15px;
    font-size: larger;
    font-weight: bolder;
}

.SignUp h3 {
    color: white;
    font-weight: bold;
}